@model Domain.Entities.Products.Product

@{
    ViewBag.Title = "Delete";
    Layout = "_Layout";
}

<div class="pagetitle">
    <h1>Products</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item ">
                <a asp-action="Index"> Products</a>

            </li>
            <li class="breadcrumb-item active">

                Delete
            </li>

        </ol>
    </nav>
</div>

<div class="section">
    <div class="row">
        <div class="col-12 py-2">

            <div class="card">
                <div class="card-body py-5">

                 <div class="alert alert-danger alert-dismissible fade show" role="alert">
                     Are you sure you want to delete @Model.Name?
                     <form method="post" asp-action="Delete">
                         <input type="hidden" name="id" value="@Model.Id" />
                         <button type="submit" class="btn btn-danger">Delete</button>
                         <a asp-action="Index" class="btn btn-info">Cancel</a>
                     </form>
                 </div>

                </div>
            </div>
        </div>
    </div>
</div>