@{
    ViewData["Title"] = "Home Page";
}

<div class="section ">
    <div class="card">
        <div class="card-body py-3 ">
            <div class="alert alert-info alert-dismissible fade show" role="alert">
             Wlcome @User.Identity.Name
            </div>
        </div>
    </div>
</div>